<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.Meta.Title}}</title>
        <link rel="stylesheet" href="/assets/style.css" />
    </head>
    <body>
        <main>
            <img src="https://verless.dominikbraun.io/static/img/logo-default.png"
                 alt="verless" id="logo" />
            <h1>{{.Meta.Title}}</h1>
            <p>
                Welcome to your new project! Take a look at the <a
                        href="https://github.com/verless/verless/tree/master/example" target="_blank">example
                    project</a> or visit the <a
                        href="https://github.com/verless/verless/tree/master/docs" target="_blank">documentation</a>.
            </p>
        </main>
    </body>
</html>